
.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: var(--Neutral-0);
    text-align: center;
    width: 30rem;
    margin-top: 10rem;
}
.secure{
    color: var(--Neutral-300);
}
input {
    margin-bottom: 2rem;
}
.name, .email, .username, .upload {
    width: 17rem;
    height: 2rem;
    border-color: var(--Neutral-500);
    border-radius: 7px;
    opacity: 0.2;
    justify-content:flex-start;
    color: var(--Neutral-300);
}
.upload{
    height: 5rem;
}
.btn {
    width: 18rem;
    height: 2.2rem;
    border-radius: 7px;
    background-color: var(--Orange-500);
    border: none;
    opacity: 0.8;
    cursor: pointer;
    color: var(--Neutral-900);
    font-weight: 800;
}
.btn:hover{
    border: 3px solid blue;
    border-style: dashed;
    color: blue;
}
.label-name, .label-email, .label-github, .label-avatar {
    color: var(--Neutral-300);
    
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}