
.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: var(--Neutral-0);
    text-align: center;
    width: 30rem;
    margin-top: 10rem;
}
.secure{
    color: var(--Neutral-300);
    margin-bottom: 30px;
}
input {
    margin-bottom: 2rem;
    color: white;
}
.name, .email, .username, .upload {
    width: 17rem;
    height: 2rem;
    border-radius: 7px;
    background: transparent;
    opacity: 0.7;
    justify-content:flex-start;
    color: var(--Neutral-300);
    border:1.5px solid  var(--Neutral-500);
}
.upload{
    height: 5rem;
    border:1px solid  var(--Neutral-300);
    border-style: dashed;
}
.upload-photo{
    color: var(--Neutral-300);
    width: 25%;
    font-weight: 400;
    font-size: 10px;
    margin-top: -30px;
}
.btn {
    width: 18rem;
    height: 2.2rem;
    border-radius: 7px;
    background-color: var(--Orange-500);
    border: none;
    opacity: 0.8;
    cursor: pointer;
    color: var(--Neutral-900);
    font-weight: 800;
}
.btn:hover{
    border: 2px solid blue;
    border-style: dashed;
    color: blue;
}
.label-name, .label-email, .label-github, .label-avatar {
    color: var(--Neutral-300);
    width: 25%;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 8px;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}