
.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin-bottom: 2rem;
}
.name, .email, .username, .upload {
    width: 17rem;
    height: 2rem;
    border-color: var(--Neutral-500);
    border-radius: 7px;
    opacity: 0.2;
    justify-content:flex-start
}
.btn {
    width: 18rem;
    height: 2.2rem;
    border-radius: 7px;
    background-color: var(--Orange-500);
    border: none;
    opacity: 0.8;
    cursor: pointer;
}
label {
    
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}