
.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin-bottom: 2rem;
}
.name, .email, .username {
    width: 15rem;
    height: 2rem;
    border-color: var(--Neutral-500);
    border-radius: 7px;
    opacity: 1;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}