
body{
    margin: 0;
    font-family: 'Inconsolata';
    background-image: url('../assets/images/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailed {
    color: var(--Neutral-500);
    margin-bottom: 30px;
    border: 1px solid red;
    
    width: 20%;
}
span {
    color: var(--Orange-500);
}